<div>
  <div class="row" STYLE="margin-bottom: 80px">
    <form name="form">
    <div class="col-lg-4">
      <input type="text" class="form-control" name="start" cyrillic cyrillic-enabled="true" placeholder="Почетна дестинација" capitalize-first ng-model="start" required>
       <div class="alert-danger">
      <span class="error" ng-show="form.start.$dirty && form.start.$invalid && form.start.$error.required"> Задолжително поле!</span>
      </div>
    </div>
    <div class="col-lg-4">
      <input type="text" class="form-control" name="end" cyrillic cyrillic-enabled="true" placeholder="Крајна дестинација" capitalize-first ng-model="end" required>
      <div class="alert-danger">
      <span class="error" ng-show="form.end.$dirty && form.end.$invalid && form.end.$error.required"> Задолжително поле!</span>
      </div>
    </div>
    <div class="col-lg-4">
      <button type="submit" class="btn btn-primary kopce" ng-click="prebaruvaj()">Пребарувај</button>
    </div>
  </form>

  <div class="row">
    <div class="col-md-offset-4">
      <button class="btn btn-success kopce" ng-click="sortirajSporedLajkovi()">Најдобри</button>
      <button class="btn btn-danger kopce" ng-click="sortirajSporedDislajkovi()">Најлоши</button>
    </div>
  </div>
</div>

  <table class="table table-striped">
    <tr>
      <th>Почетна дестинација</th>
      <th>Крајна дестинација</th>
      <th>Објавувач</th>
      <th>Искуства</th>
      <th>Датум</th>
      <th ng-if="adminlogin">Измени/Избриши</th>
      <th ng-if="!adminlogin">Like/Dislike</th>
    </tr>

    <tr dir-paginate="x in notification | itemsPerPage: 5">
      <td>{{x.relation.startDestination}}</td>
      <td>{{x.relation.endDestination}}</td>
      <td>{{x.user.name}} {{x.user.lastName}} {{x.user.age}}</td>
      <td>{{x.message}}</td>
      <td>{{x.date|date}}</td>
      <td ng-if="adminlogin">
          <a ng-href="#/edit/{{x.id}}">Измени </a>
          <a ng-click="izbrisiIskustvo(x.id)">Избриши </a>
      </td>

      <td ng-if="!adminlogin">
        <i class="fa fa-thumbs-o-up" ng-if="!x.liked"  style="color:blue" ng-click="dodadiLike(x)">Like {{x.likes}}</i>
        <i class="fa fa-thumbs-up" ng-if="x.liked" style="color:blue">Like {{x.likes}}</i>
        <i class="fa fa-thumbs-o-down" ng-if="!x.disliked" style="color:blue" ng-click="dodadiDislike(x)">Dislike {{x.dislikes}}</i>
        <i class="fa fa-thumbs-down" ng-if="x.disliked" style="color:blue">Dislike {{x.dislikes}}</i>
      </td>
    </tr>
  </table>

  <dir-pagination-controls class="col-md-offset-5" ></dir-pagination-controls>