<div id="map" style="margin:0 auto;margin-top: 5%;width:500px;height:500px;"></div>
<div class="row">
<div class="col-md-6 col-md-offset-4">
<p> Легенда: <img height="18" width="13" src="http://i.imgur.com/9kBclSI.png"/> Кафе пауза <img height="18" width="13" src="http://i.imgur.com/ZngDRbU.gif"/> Полиција на пат <img height="18" width="13"src="http://i.imgur.com/KQ9JxyW.png"/> Работа на пат></p>
</div>
</div>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3&callback=initMap">
</script>